.first-section-blog {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend';
  font-size: 30px;
  font-weight: bold;
  background-image: url('/client/src/img/harley-davidson-02tt7EvQKhw-unsplash.jpg');
  background-size: cover;
  background-position: 0px -300px;
  color: #fff;
}

.second-section-blog {
  padding-top: 100px;
  padding-bottom: 100px;

  .contain-blog {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 40px;

    .blog-container-details {
      position: relative;
      width: 400px;
      font-family: 'Lexend';
      cursor: pointer;
      background-color: #fff;
      

      .blog-type {
        position: absolute;
        background-color: #fff;
        padding: 5px;
        padding-top: 0px;
        padding-left: 0px;

        p {
          background-color: #00e5ac;
          color: #fff;
          padding: 10px;
          font-size: 18px;
        }
      }

      .blog-type-conduite {
        position: absolute;
        background-color: #fff;
        padding: 5px;
        padding-top: 0px;
        padding-left: 0px;

        p {
          background-color: #c2075d;
          color: #fff;
          padding: 10px;
          font-size: 18px;
        }
      }

      .blog-type-administratif {
        position: absolute;
        background-color: #fff;
        padding: 5px;
        padding-top: 0px;
        padding-left: 0px;

        p {
          background-color: #1f3149;
          color: #fff;
          padding: 10px;
          font-size: 18px;
        }
      }

      .blog-type-financement {
        position: absolute;
        background-color: #fff;
        padding: 5px;
        padding-top: 0px;
        padding-left: 0px;

        p {
          background-color: #9AA6B7;
          color: #fff;
          padding: 10px;
          font-size: 18px;
        }
      }

      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        transition: 0.3s;

        &:hover {
          filter: brightness(0.4);
        }
      }

      .date {
        color: #7d7a78;
        margin-top: 10px;
        font-size: 18px;
      }

      .title {
        margin-top: 10px;
        font-size: 18px;
      }

      .readmore {
        margin-top: 10px;
        display: flex;
        align-items: center;

        i {
          margin-right: 10px;
          font-size: 15px;
          color: #c2075d;
        }
      }
    }
  }
}