.first-section-club-moto {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend';
  font-size: 30px;
  font-weight: bold;
  background-image: url('/client/src/img/harley-davidson-zGzXsJUBQfs-unsplash.jpg');
  background-size: cover;
  background-position: 0px -300px;
  color: #fff;
}

.second-section-club-moto {
  font-family: 'Lexend';
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  p {
    width: 70%;
    font-size: 18px;
    line-height: 40px;
    margin-top: 20px;
  }

  .left {
    button {
      width: 250px;
      height: 50px;
      border: 3px solid #28C49D;
      background-color: #00e5ac;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      border-radius: 50px;
      margin-top: 40px;

      a {
        color: #fff;
      }
    }
  }

  .right{
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 600px;
      height: 800px;
      object-fit: cover;
    }
  }
}