.first-section-partenaire {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend';
  font-size: 30px;
  font-weight: bold;
  background-image: url('/client/src/img/duncan-adler-Got-SV5YRPg-unsplash.jpg');
  background-size: cover;
  background-position: 0px -700px;
  color: #fff;
}

.second-section-partenaire {
  font-family: 'Lexend';
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;

  p {
    width: 70%;
    font-size: 20px;
    line-height: 40px;
  }

  .left {
    button {
      width: 250px;
      height: 50px;
      border: 3px solid #28C49D;
      background-color: #00e5ac;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      border-radius: 50px;
      margin-top: 40px;
    }
  }

  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .groupe-partners {
    width: 600px;
    margin-top: 40px;
  }
}