@media screen and (max-width: 900px) {

  header {
    .nav-desktop {
      display: none !important;
    }

    .burger-mobile {
      display: flex;
    }
  
    .separator-container {
      display: none !important;
    }

    .header-container {
      position: relative;

      img {
        width: 125px;
      }

      .nav-mobile {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 420px;
        top: 103px;
        right: -20px;
        font-family: 'Lexend';
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        div {
          margin-left: 20px;
        }

        .stage-menu {
          .menu-stage-mobile {
            display: none;
            flex-direction: column;
            padding-top: 10px;
            gap: 10px;
          }
        }

        a {
          color: #000;
        }
      }
    }
  }

  main {
    padding-top: 100px;
  }

  .first-section-home {
    padding-bottom: 200px !important;
    .container {
      padding: 10px !important;
      width: auto !important;

      p {
        font-size: 30px !important;
      }

      .case-container {
        display: none;
      }
    }
  }

  .second-section-home {
    .services-write {
      margin-top: 50px !important;

      h1 {
        font-size: 25px !important;
      }

      .bottom-p {
        width: 80% !important;
        font-size: 18px !important;
      }
    }

    .service-details {
      flex-direction: column;

      .details {
        width: 90% !important;
        margin: auto;
        margin-top: 20px;
        height: 440px !important;

        .info-details {
          height: 400px !important;

          div {
            width: auto !important;

            p {
              width: auto;
            }
          }
        }
      }
    }
  }

  .three-section-home {
    .container {
      width: auto !important;
      
      .top-container {
        margin-left: 50px !important;
        align-items: baseline !important;
        margin-right: 0px !important;
      }

      .bottom {
        height: auto !important;
        flex-direction: column;

        .left {
          width: auto !important;

          p {
            width: auto !important;
          }
        }

        .right {
          width: auto !important;

          p {
            width: auto !important;
          }
        }
      }
    }
  }

  .four-section-home {
    .gallery-write {
      margin-top: 50px !important;

      h1 {
        font-size: 25px !important;
      }

      .bottom-p {
        width: 80% !important;
        font-size: 18px !important;
      }
    }

    .gallery-details {
      div:nth-child(1) {
        display: none;
      }

      div {
        flex-direction: column;

        img {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }

  .five-section-home {
    .blog-write {
      margin-top: 50px !important;

      h1 {
        font-size: 25px !important;
      }

      .bottom-p {
        width: 80% !important;
        font-size: 18px !important;
      }
    }

    .blog-details {
      flex-direction: column;

      .blog-container-details {
        width: auto;
        margin: auto;
        margin-top: 40px;
      }
    }
  }

  .six-section-home {
    .price-details {
      flex-direction: column;

      .container-details-price {
        width: auto !important;
        margin-top: 20px;

        .price p:nth-child(2) {
          top: 25px !important;
        } 

        .detail {
          width: 400px !important;
        }
      }
    }
  }

  footer {
    height: 100%;
    padding-bottom: 50px;

    .content {
      flex-direction: column;

      .footer-reseau {
        margin-top: 0px;
      }

      .footer-menu, .footer-conditions, .footer-galerie {
        margin-top: 80px;
      }
    }
  }
}