* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.activ {
  color: #6d6d6d !important;
}

@font-face {
  font-family: 'Lexend';
  src: url('/client/src/font/Lexend-VariableFont_wght.ttf');
}

@import './Pages/home.scss';
@import './Pages/moto-ecole.scss';
@import './Pages/about.scss';
@import './Pages/blog.scss';
@import './Pages/moto-ecoles/detail-motoecole.scss'
