* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.activ {
  color: #C10058 !important;
}

@font-face {
  font-family: 'Lexend';
  src: url('/client/src/font/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('/client/src/font/Montserrat-Italic.ttf');
}

button {
  cursor: pointer
}

.button-detail-mobile {
  font-family: 'Lexend';
  background-color: #ffffff;
  border: none;
  color: #1F3149;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  display: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 240px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.global-button-cta{
  font-family: 'Lexend';
  background-color: #00e5ac;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  border-radius: 50px;
  border: 3px solid #28C49D;
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 270px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

@import './Pages/home.scss';
@import './Pages/moto-ecole.scss';
@import './Pages/about.scss';
@import './Pages/blog.scss';
@import './Pages/moto-ecoles/detail-motoecole.scss';
@import './Pages/partners.scss';
@import './Pages/club-moto.scss';

// stages

@import './Pages/stages/stage-moto-a2.scss';
@import './Pages/stages/stage-125-accel-1j.scss';
@import './Pages/stages/stage-am-accel-2j.scss';
@import './Pages/stages/stage-moto-accel-3j.scss';
@import './Pages/stages/stage-passerelle.scss';

// blog

@import './Pages/blog/permis-a2.scss';


// footer

@import './Pages/footer/mention-legales.scss';
@import './Pages/footer/donnees-personelle.scss';
@import './Pages/footer/condition-ventes.scss';

// responsive mobile

@import './responsive/home.scss';
@import './responsive/moto-ecole.scss';
@import './responsive/detail-motoecole.scss';
@import './responsive/partners.scss';
@import './responsive/club-moto.scss';
@import './responsive/about.scss';
@import './responsive/blog.scss';
@import './responsive/stages/stage-moto-a2.scss';
@import './responsive/stages/stage-125-accel-1j.scss';
@import './responsive/stages/stage-am-accel-2j.scss';
@import './responsive/stages/stage-moto-accel-3j.scss';