@media screen and (max-width: 900px) {
  .first-section-stage-moto-a2 {
    background-position: 0;
    background-position-x: -100px;
    font-size: 20px;
  }

  .second-section-stage-moto-a2 {
    flex-direction: column;

    .right .top .top-right {
      width: 300px;
    }

    .left {
      width: auto !important;

      p {
        width: auto !important;
      }
    }

    .right {
      width: auto !important;
      .bottom {
        width: auto;
        .top-bottom {
          flex-direction: column;
        }

        .bottom-bottom {
          flex-direction: column;
        }
      }

      .top {
        width: auto;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
      }
    }
  }
}