.first-section-blog-permis-a2 {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend';
  font-size: 30px;
  font-weight: bold;
  background-image: url('/client/src/img/harley-davidson-02tt7EvQKhw-unsplash.jpg');
  background-size: cover;
  background-position: 0px -300px;
  color: #fff;
}

.second-section-blog-permis-a2 {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Lexend';
  width: 60%;
  margin: auto;

  a {
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #00e5ac;
    border: 3px solid #06b68a;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
  }

  h1 {
    color: #c10058;
    text-align: center;
  }

  h2 {
    color: #c10058;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  .big-p1 {
    margin-top: 40px;
  }

  .first-p {
    div {
      margin-top: 15px;

      p:nth-child(1) {
        font-weight: bold;
      }

      p:nth-child(2) {
        margin-top: 5px;
        margin-left: 12px;
      }
    }
  }

  .second-p {
    margin-top: 40px;
    div {
      margin-top: 15px;
      margin-bottom: 15px;

      p {
        font-weight: bold;
      }
    }
  }

  .three-p {
    margin-top: 40px;
    div {
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-weight: bold;

      }
    }
  }
}

@media screen and (max-width: 900px) {
  .first-section-blog-permis-a2 {
    background-position: 0;
    background-position-x: -100px;
    text-align: center;
  }

  .second-section-blog-permis-a2 {
    width: 90% !important;
  }
}