.container-condition-ventes {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Lexend';
  padding-top: 120px;
  padding-bottom: 120px;
  color: #1F3149;

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  p {

    text-align: left;
  }
}